/* CSS HEX */
/* 

--imperial-red: #FF4747;
--mikado yellow: #FFC533;
--alice blue #EFF5FA;
--columbia blue: #C0D8EC;
--carolina blue: #81B2D9;
--rich-black: #031110; 

--ruddy-blue: #72a8d5ff;
--indigo-dye: #064a75ff;
*/

body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(
    to top,
    #81B2D9 0%,
    #EFF5FA 100%
  );
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
}
/*

.hidden {
  display: none;
}

.header-banner {

}

h1 {

}

.welcome-message {

}

#accountButton {

}

.button{
  width: 50px;
  background-color: #81B2D9;
  color: #EFF5FA;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #FFC533;
}

label,
input {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#submitButton {

}

.trip-info {

}

.detail-destination {

}

.detail-total-cost{

}

.button-container {

}  

#pendingTripBtn { 

}

#pastTripBtn {

}

.total-spent {

}

*/