/* CSS HEX */
/* 

--imperial-red: #FF4747;
--mikado yellow: #FFC533;
--alice blue #EFF5FA;
--columbia blue: #C0D8EC;
--carolina blue: #81B2D9;
--rich-black: #031110; 

--ruddy-blue: #72a8d5ff;
--indigo-dye: #064a75ff;
*/

/* * {
  border: 1px solid #FF4747;
} */

body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(
    to top,
    #81B2D9 0%,
    #EFF5FA 100%
  );
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-attachment: fixed;
}

.hidden {
  display: none;
}

/* .main-login {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .dashboard-view {

} */

.header-banner {
  display: flex;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: #064a75ff

}

h1 {
  font-size: 4em;
  font-style:italic;
}

.welcome-message {
  font-size: 3em;
}

.button{
  width: 100px;
  background-color: #72a8d5ff;
  color: #031110;
  font-family: 'Raleway', sans-serif, 400;
  font-size:large;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #FFC533;
}
main {
  display: flex;
  flex-direction:column;
  width: 40%
}
article {
  width: 100%
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40%;
    width: 100%;
    align-items: center;
}

select {
  font-size: larger
}

label,
input {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 10px;
  font-size: large
}

.submitContainer {
  display: flex;
  justify-content: space-evenly
}

.detail-image {
  width: 100%
}
/* #submitButton {

} */

.trip-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}

p {
  margin: 3px;
  font-size:larger
}

.trip-container {
  display:flex;
  height: 100%;
  justify-content: space-around;
}

.button-container {
  display: flex;
  justify-content: space-evenly
}  

aside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h3 {
  margin: 3px;
  font-size: x-large
}

h4 {
  font-size: larger
}

.trip-scroll {
  height: 100vh;
  overflow-y: scroll;
}

li {
  font-size:larger;
  list-style-type: none
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

/*


.detail-destination {

}

.detail-total-cost{

}
*/

/*
#pendingTripBtn { 

}

#pastTripBtn {

}

.total-spent {

}

*/